In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('BR (1).csv')

In [ ]:
dates_interest = df.loc[:, ['TIME_PERIOD', 'OBS_VALUE']]
dates_interest['TIME_PERIOD'] = pd.to_datetime(dates_interest['TIME_PERIOD'], errors='coerce')
israeli_interest = dates_interest[(dates_interest['TIME_PERIOD'].dt.day == 1)].copy().reset_index(drop = True)

In [ ]:
israeli_interest['Year'] = israeli_interest['TIME_PERIOD'].dt.year
israeli_interest['Month'] = israeli_interest['TIME_PERIOD'].dt.month
israeli_interest['Current_Rate'] = israeli_interest['OBS_VALUE']
for row in range(1, israeli_interest.shape[0]):
    israeli_interest.loc[row , 'Change_From_Last_Month'] = israeli_interest.loc[ row, 'Current_Rate'] - israeli_interest.loc[row-1, 'Current_Rate']
israeli_interest_updated = israeli_interest.loc[:,['Year', 'Month', 'Current_Rate', 'Change_From_Last_Month']].copy()

In [ ]:
df2 = pd.read_csv('us.csv')
us_interest = df2[5:].copy().reset_index(drop = True)
us_interest['Series Description'] = pd.to_datetime(us_interest['Series Description'], errors='coerce')

In [ ]:
us_interest['Federal funds effective rate'] = pd.to_numeric(us_interest['Federal funds effective rate'], errors='coerce')

In [ ]:
us_interest['Year'] = us_interest['Series Description'].dt.year
us_interest['Month'] = us_interest['Series Description'].dt.month
us_interest['Current_Rate'] = us_interest['Federal funds effective rate']
for row in range(1, us_interest.shape[0]):
    us_interest.loc[row , 'Change_From_Last_Month'] = us_interest.loc[ row, 'Current_Rate'] - us_interest.loc[row-1, 'Current_Rate']
us_interest_updated = us_interest.loc[:,['Year', 'Month', 'Current_Rate', 'Change_From_Last_Month']].copy()

In [ ]:
israeli_interest_updated

In [ ]:
us_interest_updated

In [ ]:
exchange_rates = pd.read_csv('additional_rates_19930101_20231229_en_USD.csv')
exchange_rates.dtypes

In [ ]:
exchange_rates['Date    '] = pd.to_datetime(exchange_rates['Date    '], errors='coerce')
exchange_rates.dtypes

    # Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest tares
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

## Part A: Single DataFrame Analysis 
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [ ]:
# A - 1
us_interest_updated.head()

In [ ]:
# A - 2
israeli_interest_updated.Current_Rate.mean()

In [177]:
# A - 3
increase_max = 0
idx  = 0
for row in range(1, exchange_rates.shape[0]):
    if exchange_rates.loc[row, 'USD'] - exchange_rates.loc[row-1, 'USD'] > increase_max:
        increase_max = exchange_rates.loc[row].USD
        idx = row
increase_max, idx

exchange_rates.loc[idx, "Date    "].year, exchange_rates.loc[idx, "Date    "].month

(2023, 12)

In [178]:
# A - 4
us_interest_updated.loc[us_interest_updated.Change_From_Last_Month <= 0].shape[0]

190

In [171]:
# A - 5
israeli_interest_updated.Current_Rate.pct_change()

0           NaN
1      0.000000
2      0.000000
3      0.000000
4      0.095238
         ...
691         NaN
692         NaN
693         NaN
694         NaN
695         NaN
Name: Current_Rate, Length: 696, dtype: float64

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [176]:
# B - 1
merged_interests = israeli_interest_updated.merge(us_interest_updated, on=['Year', 'Month'])
merged_interests.head()

,Year,Month,Current_Rate_x,Change_From_Last_Month_x,Current_Rate_y,Change_From_Last_Month_y
0,1994,2,10.5,NaN,3.25,0.20
1,1994,3,10.5,0.0,3.34,0.09
2,1994,4,10.5,0.0,3.56,0.22
3,1994,5,10.5,0.0,4.01,0.45
4,1994,6,11.5,1.0,4.25,0.24

In [ ]:
# B - 2

In [ ]:
# B - 3
# your code here

In [ ]:
# B - 4
# your code here

In [ ]:
# B - 5
# your code here

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

In [ ]:
# Bonus

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [ ]:
# Your code here